* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  background-color: #e2e2e2;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  padding-top: 20px;
  background-color: #e2e2e2;
  height: 460px;
  width: 350px;
  border-radius: 25px;
  box-shadow: 4px 4px 10px #c4c4c4, -4px -4px 10px #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-card {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
h1 {
  color: rgb(120, 112, 112);
  text-shadow: 5px 5px 4px #c4c4c4, -5px -5px 4px #fff;
}
p {
  color: rgb(115, 105, 105);
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}
.input-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 94px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.input-box input {
  padding-left: 15px;
  outline: none;
  border: none;
  height: 35px;
  border-radius: 25px;
  background-color: #e2e2e2;
  box-shadow: inset 5px 5px 7px #c4c4c4, inset -5px -5px 7px #fff;
}
.btn-box {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  height: 140px;
  align-items: center;
  justify-content: space-evenly;
}
.login,
.sign-up {
  border-radius: 20px;
  text-align: center;
  width: 100%;
  height: 34px;
  outline: none;
  border: none;
}
.sign-up {
  color: rgb(115, 105, 105);
  background: #e2e2e2;
  box-shadow: 5px 5px 7px #c4c4c4, -5px -5px 7px #fff;
  cursor: pointer;
}
.login {
  color: rgb(70, 62, 62);
  background: #ffacac;
  box-shadow: 5px 5px 10px #d99180, -5px -5px 7px #fff;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #4780b8;
  font-weight: bolder;
}
.reset-password {
  display: none;
}
.forget-password {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 800px) {
  .card {
    width: 540px;
  }
  .form-container {
    width: 70%;
  }
  .input-box {
    height: 108px;
    margin-top: 48px;
  }
  .input-box input {
    padding-left: 130px;
    height: 40px;
  }
  .btn-box {
    flex-direction: row;
    justify-content: space-between;
    height: 94px;
  }
  .sign-up,
  .login {
    width: 40%;
    height: 35px;
  }
  .forget-password {
    display: none;
  }
  .reset-password {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
  }
}
